@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

.body {
  margin: 0%;
  box-sizing: border-box;
  width: 100%;
}

/* css for hreader2 */
:root {
  --navbar-bg-color: hsl(0, 50%, 5%);
  --navbar-text-color: hsl(72, 26%, 96%);
  --navbar-text-color-focus: rgb(246, 242, 245);
  --navbar-bg-contrast: hsl(0, 0%, 25%);
 }
.maindiv{
  width: 100%;
}
/* .body {
  height: 30%;
  font-family: Arial, Helvetica, sans-serif;
  height: 30%;
} */

.container {
  margin-top: 0%; 
  max-width: 100%;
  padding: 0%;
   padding-left:50px; 
   padding-right: 1.4rem;
 
}
#navbar {
  --navbar-height: 75px;
  position: fixed;
  height: var(--navbar-height);
  background-color: var(--navbar-bg-color);
  left: 0;
  right: 0;
   box-shadow: 0 2px 4px rgba(31, 28, 28, 0.15); 
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.navbar-item {
  margin: 0.4em;
   width: 100%; 
}

.home-link,
.navbar-link {
  color: var(--navbar-text-color);
  text-decoration:solid;
  display: flex;
  font-weight: 400;
  align-items: center;
}

.home-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
}

.navbar-link {
  justify-content: center;

}

.navbar-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
  background-color: var(--navbar-bg-contrast);
}

.navbar-logo {
  background-color: var(--navbar-text-color-focus);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 0.5em;
}
#navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  /* width: 40px;
  height: 40px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: var(--navbar-text-color);
}
#navbar-toggle:is(:focus, :hover) .icon-bar {
  background-color: var(--navbar-text-color-focus);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
  width: 30px;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
  transform: rotate(45deg);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
  transform: rotate(-45deg);
}
 #navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
} 
#navbar-toggle[aria-expanded="true"] + #navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
}
.navbar-links {
  list-style: none;
  position: absolute;
  background-color: var(--navbar-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
  padding: 1em;
}
@media screen and (min-width: 700px) {
  #navbar-toggle,
  #navbar-toggle[aria-expanded="true"] {
    display: none;
  }

  #navbar-menu,
  #navbar-toggle[aria-expanded="true"] #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }

  .navbar-links,
  #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
}
/* CSS for header */
/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  position: fixed;
  width: 100%; 
  background-color: transparent;
  color: #ffffff;
}

.header .logo {
  font-size: 25px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  color: #e5eff2;
  text-decoration: none;
  margin-left: 30px;
}


.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  white-space: nowrap;
  
  margin-right: 20px;

}

.nav-items a {
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  padding: 35px 20px;
}
.line {
    border-bottom: 10px solid red;
    margin-top: 5px;
    width: 50%;
} */
/* CSS for main section */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 570px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("./images/backroundimmage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-stretch: expanded;
}

.intro h1 {
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; 
  font-size: 60px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;


  /* height: 100px; */
}

.intro p {
  font-size: 20px;
  color: #d1d1d1;
  text-transform: uppercase;
  margin: 20px 0;
}

.intro button {
  background-color: #5edaf0;
  color: #000;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4)
}

.achievements {
  display: flex;
  justify-content: space-between;
  /* justify-items: space-around; */
  max-width: 100%;
}

.work {
  margin: 4%;
  flex: 1;
  background-color:hwb(188 89% 2%);
  padding: 4% 3% 4% 3%;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7);
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.work:hover {
  transform: scale(1.05);
}

i {
  font-size: 50px;
  color: #3498db; /* You can change the color based on your preference */
}

.work-heading {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  color: black;
}

.work-text {
  font-size: 14px;
  color: blaCK;
}
.abouttrandingmain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 40px;
  margin-right: px;
  /* margin-block-end: 10px; */
}

.About-trading {
  display: inline-flex;
  align-items: center;
  padding: 20px;
  justify-content:space-around;
  /* border-top: 15px solid #e3e1da; */
  box-sizing: border-box;
  /* max-width: 400px; */
  /* box-sizing: border-box; */
  max-width: 50%;
  /* max-height: 1000px; */
  /* flex-wrap: nowrap; */
}

.About-trading-text{
width: 100%;
}

.About-trading img {
  width: 70%;
  max-width: 70%;
  height: 70%;
  border-radius: 10px;
   margin-top: 40px; 
  align-items:center;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,2);
}
.imagediv{
  width: 100%;
  height: 100%;
}

.About-trading-text h3 {
  font-size: 24px;
  color: #333333;
  text-transform: uppercase;
  margin: 10px 0 5px;
}

.About-trading-text p {
  font-size: 16px;
  color: #585858;
  margin: 0;
}

/* Media Query for screens below 768px */
@media (max-width: 768px) {
  .About-trading {
    max-width: 90%;
  }
}

/* css for aboutus */

.aboutus{
  width: 70%;
  height: 100%;
  display: inline-flex;
}
 .aboutus img{
  /* padding: 40px 40px 40px 40px; */
   margin-top: 75px;
  margin-left: 0px;
  width: 150%;
  height: 500px; 
} 
.aboutus p{
    width: 500px;
    background-color: #3498db;
    align-content: center;
    align-items: center;
}

/* css for Classes */
.classes{
  margin-left: 50px;
  width: 100%;
  
}

.classimages{
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  height: 20%;
   padding: 5px;
   margin-right: 40px;
   margin-left : 40px;

  justify-content:space-between;
  /* border-top: 15px solid #e3e1da; */
  box-sizing: border-box;
  /* max-width: 400px; */
  /* box-sizing: border-box; */
  /* max-width: 50%; */
}
.image:hover {
  transform: scale(1.1); /* Increase size on hover */
}
.classimages img{
  transition: transform 0.3s ease-in-out;
  /* flex-wrap: wrap; */
  width: 20%;
  padding:0px;
  max-width: 50%;
  height: 10%;
  border-radius: 10px;
   /* margin-top: 30px;  */
  align-items:center;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,2);
}

 .aboutclass {
 display: flex;
}

/* CSS for footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #302f49;
  padding: 40px 80px;
}

.footer .copy {
  color: #fff;
}

.bottom-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}

.bottom-links .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.bottom-links .links span {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0;
}

.bottom-links .links a {
  text-decoration: none;
  color: #a1a1a1;
  padding: 10px 20px;
}